Finished Code/LogicAppCode
{

  "definition": {

​    "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",

​    "actions": {

​      "Condition": {

​        "actions": {

​          "Detect_faces_2": {

​            "inputs": {

​              "body": {

​                "url": " https://emotionimagestorage.blob.core.windows.net/images/@{body('When_a_blob_is_added_or_modified_(properties_only)')?['Name']}"

​              },

​              "host": {

​                "connection": {

​                  "name": "@parameters('$connections')['faceapi']['connectionId']"

​                }

​              },

​              "method": "post",

​              "path": "/face/v1.0/detect",

​              "queries": {

​                "returnFaceAttributes": "age,gender,headPose,smile,facialHair,glasses,emotion",

​                "returnFaceId": "true",

​                "returnFaceLandmarks": "true"

​              }

​            },

​            "runAfter": {

​              "When_a_blob_is_added_or_modified_(properties_only)": [

​                "Succeeded"

​              ]

​            },

​            "type": "ApiConnection"

​          },

​          "For_each": {

​            "actions": {

​              "Create_blob": {

​                "inputs": {

​                  "body": "Image Info for @{triggerBody()?['Name']}:\n\nAge: @{items('For_each')?['faceAttributes']?['age']}; \nGender: @{items('For_each')?['faceAttributes']?['gender']}; \n\nEmotion Scores: \nHappiness: @{items('For_each')?['faceAttributes']?['emotion']?['happiness']}\nSadness: @{items('For_each')?['faceAttributes']?['emotion']?['sadness']}\nAnger: @{items('For_each')?['faceAttributes']?['emotion']?['anger']}\nContempt: @{items('For_each')?['faceAttributes']?['emotion']?['contempt']}\nFear: @{items('For_each')?['faceAttributes']?['emotion']?['fear']}\nDigust: @{items('For_each')?['faceAttributes']?['emotion']?['disgust']}\nSurprise: @{items('For_each')?['faceAttributes']?['emotion']?['surprise']}\nNeutral: @{items('For_each')?['faceAttributes']?['emotion']?['neutral']};\n\nOther Info:\nMoustache Intensity: @{items('For_each')?['faceAttributes']?['facialHair']?['moustache']}\nBeard Intensity: @{items('For_each')?['faceAttributes']?['facialHair']?['beard']}\nGlasses: @{items('For_each')?['faceAttributes']?['glasses']};",

​                  "host": {

​                    "connection": {

​                      "name": "@parameters('$connections')['azureblob']['connectionId']"

​                    }

​                  },

​                  "method": "post",

​                  "path": "/datasets/default/files",

​                  "queries": {

​                    "folderPath": "/data",

​                    "name": "@body('When_a_blob_is_added_or_modified_(properties_only)')?['Name']",

​                    "queryParametersSingleEncoded": true

​                  }

​                },

​                "runAfter": {},

​                "runtimeConfiguration": {

​                  "contentTransfer": {

​                    "transferMode": "Chunked"

​                  }

​                },

​                "type": "ApiConnection"

​              }

​            },

​            "foreach": "@body('Detect_faces_2')",

​            "runAfter": {

​              "Detect_faces_2": [

​                "Succeeded"

​              ]

​            },

​            "type": "Foreach"

​          },

​          "When_a_blob_is_added_or_modified_(properties_only)": {

​            "inputs": {

​              "host": {

​                "connection": {

​                  "name": "@parameters('$connections')['azureblob']['connectionId']"

​                }

​              },

​              "method": "get",

​              "path": "/datasets/default/triggers/batch/onupdatedfile",

​              "queries": {

​                "folderId": "JTJmaW1hZ2Vz",

​                "maxFileCount": 1

​              }

​            },

​            "metadata": {

​              "JTJmaW1hZ2Vz": "/images"

​            },

​            "runAfter": {},

​            "type": "ApiConnection"

​          }

​        },

​        "expression": {

​          "and": [

​            {

​              "equals": [

​                "@triggerBody()?['eventType']",

​                "Microsoft.Storage.BlobCreated"

​              ]

​            }

​          ]

​        },

​        "runAfter": {},

​        "type": "If"

​      }

​    },

​    "contentVersion": "1.0.0.0",

​    "outputs": {},

​    "parameters": {

​      "$connections": {

​        "defaultValue": {},

​        "type": "Object"

​      }

​    },

​    "triggers": {

​      "When_a_resource_event_occurs": {

​        "inputs": {

​          "body": {

​            "properties": {

​              "destination": {

​                "endpointType": "webhook",

​                "properties": {

​                  "endpointUrl": "@{listCallbackUrl()}"

​                }

​              },

​              "topic": "/subscriptions/16a88870-e2d4-4a02-a53d-90a674336ed0/resourceGroups/myResourceGroup/providers/Microsoft.Storage/storageAccounts/emotionimagestorage"

​            }

​          },

​          "host": {

​            "connection": {

​              "name": "@parameters('$connections')['azureeventgrid']['connectionId']"

​            }

​          },

​          "path": "/subscriptions/16a88870-e2d4-4a02-a53d-90a674336ed0/providers/@{encodeURIComponent('Microsoft.Storage.StorageAccounts')}/resource/eventSubscriptions",

​          "queries": {

​            "x-ms-api-version": "2017-09-15-preview"

​          }

​        },

​        "splitOn": "@triggerBody()",

​        "type": "ApiConnectionWebhook"

​      }

​    }

  },

  "parameters": {

​    "$connections": {

​      "value": {

​        "azureblob": {

​          "connectionId": "/subscriptions/16a88870-e2d4-4a02-a53d-90a674336ed0/resourceGroups/myResourceGroup/providers/Microsoft.Web/connections/azureblob",

​          "connectionName": "azureblob",

​          "id": "/subscriptions/16a88870-e2d4-4a02-a53d-90a674336ed0/providers/Microsoft.Web/locations/southeastasia/managedApis/azureblob"

​        },

​        "azureeventgrid": {

​          "connectionId": "/subscriptions/16a88870-e2d4-4a02-a53d-90a674336ed0/resourceGroups/myResourceGroup/providers/Microsoft.Web/connections/azureeventgrid",

​          "connectionName": "azureeventgrid",

​          "id": "/subscriptions/16a88870-e2d4-4a02-a53d-90a674336ed0/providers/Microsoft.Web/locations/southeastasia/managedApis/azureeventgrid"

​        },

​        "faceapi": {

​          "connectionId": "/subscriptions/16a88870-e2d4-4a02-a53d-90a674336ed0/resourceGroups/myResourceGroup/providers/Microsoft.Web/connections/faceapi-2",

​          "connectionName": "faceapi-2",

​          "id": "/subscriptions/16a88870-e2d4-4a02-a53d-90a674336ed0/providers/Microsoft.Web/locations/southeastasia/managedApis/faceapi"

​        }

​      }

​    }

  }

}